$primary-bg-color:  #ffffff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$acent-text-color-navigation: #2196F3;
$hero-text-color: #ffffff;
$secondary-bg-color: #2F303A;
$hero-button-bg: #2196F3;
$hero-button-bg-activ: #188CE8;
$team-bg: #F5F4FA;
$filter-bg-color: #F5F4FA;
$gradient-color: rgba(47, 48, 58, 0.4);
$icon-footer-bg: rgba(255, 255, 255, 0.1);
$icon-team-color: #AFB1B8;